main {
    
    
    .modal {
        
        width:480px;
        height: 540px;
        background-color: var(--blue-300);
        border: 1px solid var(--blue-500);
        border-radius: 24px;
        padding-block: 56px;
        padding-inline: 64px;
        margin-top: 56px;
    }
        form {
            div:nth-child(1){
                margin-bottom: 20px;

            }

            label {
                font: var(--label);
                margin-bottom: 8px;
                text-transform: uppercase;
               }

               select {
                margin-bottom: 48px;
               }

          

            select, input::placeholder {
                font: var(--label);
                padding-block:16px ;
                padding-inline: 20px;
                color: white;
                
            }

             select:focus{
                border: 1px solid var(--blue-700);
                
            }

            button{
                font: var(--font-button);
            }        

            


            
           


        }

    }