.resultado {
    width: 100%;
    background-color: var(--blue-400);
    border-radius: 8px;
    align-items: center;
    padding: 40px;

    span:nth-child(1){
        font: var(--span);
        color: var(--blue-800);
        margin-bottom: 8px;
    }
    span:nth-child(2){
        font: var(--font-lg);
    }
}