@import url(./uility.css);
@import url(./global.css);

body {

    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


header {
    margin-top: 64px;
   
        img {
            width: 20px;
            object-fit:cover;
            transform: rotate(45deg);

            
        }
    div:nth-child(1){
        align-items: center;
        gap: 8px;
        h1{
            font-size: 1.3em;
            letter-spacing: 0.2em;
            line-height: 1.2;
            text-align: center;
            font-family: 'Monomaniac One', sans-serif;
            color: var(--blue-700);
            
        }
        

        
    }

    
}
