@import url(./uility.css);
@import url(./global.css);
@import url(./header.css);
@import url(./main.css);
@import url(./result.css);

body {

    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
